.cabeçalho__meu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(". ./img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabeçalho{
    background-color: rgb(238, 49, 97);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container__imagem{
    padding: 1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked~.lista-menu{
    display: block;
}
.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: azure;
}
.lista-menu__titulo{
    color: hwb(147 15% 18%);
}
.lista-menu__link{
    background: rgba(33, 211, 255, 0.466);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__botao{
    display: none;
}